
@import '~bootstrap-icons/font/bootstrap-icons.css';

/* Basic card styles */
.card {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    width: 250px;
    height: 360px;
    
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 5px;
    background-color: silver;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.151);
    margin: 0px;
    margin-left: 5px;
    
  }
  
  /* Card image styles */
  .image-container {
    position: relative;
    border-radius: 50%;
    
  }
  
  .image-container img {
    
    border-radius: 50%;
    border: 1px solid palevioletred;
  }
  /* Video icon styles */
.video-icon {
    position: absolute;
    
    right: 30px;
    bottom: 25px;
    
    padding: 5px;
    border-radius: 50%;
    font-size: 25px;
  }
  
  .video-icon i {
    color: #fff;
  }
  
  

  
  
  /* Card title styles */
  .card h2 {
    font-size: 20px;
    margin: 1px;
    color: #333;
  }
  .card h4 {
    font-size: 20px;
      color: gold;
  }
  
  /* Card content styles */
 
  .icon{
      display: flex;
      justify-content: space-between;
      margin: 10px;
      font-size: 20px;
           
  }
   .button-container .btn:hover{
     background-color:navy;
   }
   @media (max-width: 992px) {
    .card {
      /* Adjust styles for medium-sized screens here */
    }
  }
  
  /* Media query for small screens */
  @media (max-width: 768px) {
    .card {
      /* Adjust styles for small screens here */
    }
  }
  @media (min-width: 576px) {
    .card{
       /* Adjust styles for small screens here */
    } 
  
  }

   /* .badge-circle {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 50%;
    background-color: #007bff; 
    color: #fff;
  }
   */
  