

<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="my-5">

    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-white"
            style="background-color: #1c2331"
            >
      <!-- Section: Social media -->
      <section
               class="d-flex justify-content-between p-4"
               style="background-color: #6351ce"
               >
        <!-- Left -->
        <div class="me-5">
          <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->
  
        <!-- Right -->
        <div>
          <a href="" class="text-white me-4"> <i class="bi bi-facebook"></i></a>
          <a href="" class="text-white me-4"><i class="bi bi-twitter"></i></a>
          <a href="" class="text-white me-4"><i class="bi bi-google"></i></a>
          <a href="" class="text-white me-4"><i class="bi bi-instagram"></i></a>
          <a href="" class="text-white me-4"><i class="bi bi-linkedin"></i></a>
          <a href="" class="text-white me-4"><i class="bi bi-github"></i></a>
        </div>
        <!-- Right -->
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Links  -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2020 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
      </div>

  